[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "benchmarks/kvmperf"]
	path = benchmarks/kvmperf
	url = https://github.com/chazy/kvmperf
[submodule "benchmarks/linux-test-project"]
	path = benchmarks/linux-test-project
	url = https://github.com/linux-test-project/ltp
[submodule "benchmarks/netperf"]
	path = benchmarks/netperf
	url = https://github.com/HewlettPackard/netperf
[submodule "vm_hw4_files/shadow"]
	path = vm_hw4_files/shadow
	url = https://git.launchpad.net/ubuntu/+source/shadow
